@{
    ViewBag.Title = "About";
}

<div class="page-wrapper">
    <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">História</h1>
        <div class="breadcrumbs pull-right">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-label">Práve ste tu:</li>
                <li><a href="/home">Domov</a><i class="fa fa-angle-right"></i></li>
                <li class="current">História</li>
            </ul>
        </div><!--//breadcrumbs-->
    </header>
    <div class="page-content">
        
        <div class="row page-row">
            <article class="welcome col-md-8 col-sm-7">

                <h2 class="title text-center">Súkromná základná umelecká škola, Novohradská 2 , 984 01  Lučenec</h2>
                <div class="row">
                    <div class="col-md-12">
                        <p><img src="~/Images/support_form_1.jpg" class="img-responsive img-rounded text-justify" /></p>
                    </div>


                </div>

                
          
               
        

                <blockquote class="custom-quote text-justify">
                    <p>
                        História hovorí, že to bol práve rok l954, kedy pod vedením riaditeľa Ondreja Gábora sa prvýkrát otvorila brána umeleckého vzdelávania v Mestskej hudobnej škole v Lučenci. Pedagogický zbor pozostával z piatich učiteľov. 
                    </p>
                    <p>
                        Reorganizáciou umeleckého školstva – vytvorením Ľudových škôl umenia v roku 1961 – postupne k hudobnému odboru  pribúdali ďalšie umelecké odbory a to výtvarný odbor, tanečný odbor a literárno-dramatický odbor.
                    </p>
                    <p>
                        Od svojej existencie až po súčasnosť škola zaznamenala nielen kvantitatívny, ale aj kvalitatívny rozvoj.
                        Od roku l989 sa názov školy mení na Základnú umeleckú školu.
                    </p>
                    <p>
                        Na základe prevratných zmien v roku l989  prechádzala ťažkými priestorovými problémami svojej existencie , ktoré sa úspešne vyriešili a od roku 1994 začala pôsobiť komplexne v jednej budove v centre mesta Lučenec.
                        V roku 2002 škola získala právnu subjektivitu pod novým zriaďovateľom – Banskobystrickým samosprávnym krajom.
                    </p>
                    <p>
                        V roku 2004 obdržala cenu mesta Lučenec z rúk primátora mesta Lučenec Ing. Milana Marku a v roku 2005 pamätnú medailu a pamätnú plaketu za rozvoj Banskobystrického kraja.
                        V súčasnosti je Základná umelecká škola v Lučenci najväčšou plnoorganizovanou umeleckou školou troch regiónov južného Slovenska / Novohrad, Gemer, Malohont/, ktorú každoročne navštevuje okolo 700 žiakov, nielen z mesta Lučenec, ale aj zo širokého okolia.
                    </p>
                    <p>
                        ZUŠ Lučenec poskytuje štúdium v štyroch umeleckých odboroch: hudobnom, výtvarnom, tanečnom a literárno-dramatickom odbore.
                        Počet záujemcov o štúdium neustále stúpa aj na základe úspechov, ktoré škola dosahuje na domácich a medzinárodných súťažiach.
                        ZUŠ Lučenec úspešne stúpila medzi umelecké školy Európskej únie projektom Coménius- Socrates, v rámci medzinárodnej spolupráce so zahraničnými hudobnými školami Zeltweg – Rakúsko, Gyöngyös – Maďarsko.
                        Úzke kontakty s ďalšími zahraničnými hudobnými školami Aubenas Francúzsko, Louny – Česko,  sa prehlbujú nielen vzájomnými výmennými koncertami, ale aj výmenou skúseností v pedagogicko-umeleckej činnosti.
                    </p>
                </blockquote>                
            </article><!--//page-content-->
    
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                    <section class="widget has-divider">
                        <h3 class="title">Poštová adresa</h3>
                        <p class="adr">
                            <span class="adr-group">
                                <span class="street-address">Základná umelecká škola</span><br>
                                <span class="region">Novohradská 2</span><br>
                                <span class="postal-code">984 01 Lučenec</span><br>
                                <span class="country-name">Slovakia</span>
                            </span>
                        </p>
                    </section><!--//widget-->

                    <section class="widget">
                        <h3 class="title">Kontakt na vedenie</h3>
                        <p class="tel"><i class="fa fa-phone"></i>Tel: +421 911 857 299</p>
                        <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">kemenikova@gmail.com</a></p>
                    </section>
                </aside><!--//page-sidebar-->
        
        </div><!--//page-row-->
    </div><!--//page-content-->
</div><!--//page--> 