@using BAS.Repository.Model
@model Album_t

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "GalleryAlbum";
}
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">@Model.Name</h1>
            
        </header>
        <div class="page-content">
            <div class="row page-row">


                @Html.Partial("~/Views/Upload/_UploadCompomentPartial.cshtml", @Model.Id)
          
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page-->

@section Scripts{
<script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
<script src="~/Plugins/FileUpload/js/jquery.fileupload.js"></script>
<script src="~/Plugins/FileUpload/js/jquery.fileupload-ui.js"></script>
<script src="~/Plugins/FileUpload/js/jquery.iframe-transport.js"></script>
<script src="~/Scripts/common.js"></script>
<link href="~/Plugins/FileUpload/css/jquery.fileupload.css" rel="stylesheet" />

    <script type="text/javascript">
        initializeUpload();
    </script>
}









