<style>
     .page-wrapper .page-sidebar ul li {
        padding: 0 30px;
    }

        .page-wrapper .page-sidebar ul li i {
            margin-left: -25px;
        }

    .page-wrapper .page-sidebar ul li {
    }
</style>

<div class="page-wrapper">
    <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Tanečný odbor</h1>
        <div class="breadcrumbs pull-right">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-label">Práve ste tu:</li>
                <li><a href="~/Home">Domov</a><i class="fa fa-angle-right"></i></li>
                <li class="current">Tanečný odbor</li>
            </ul>
        </div><!--//breadcrumbs-->
    </header>

    <div class="page-content">
        <div class="row page-row">
            <div class="course-wrapper col-md-8 col-sm-7">
                <article class="course-item">
                    <p class="featured-image page-row"><img class="img-responsive" src="/Content/images/courses/banner_dance_thum.jpg" alt="" /></p>
                    <div class="page-row box box-border">
                        <ul class="list-unstyled no-margin-bottom">
                            <li><strong>Školský rok: </strong><em>2019/2020</em></li>
                        </ul>
                    </div><!--//page-row-->
                    <div class="tabbed-info page-row">
                        <ul class="nav nav-tabs">
                            <li><a href="#tab1" data-toggle="tab">Učiteľ / Prijímacie pohovory</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Učiteľ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Kristína Marková DiS.art</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->

                                <div class="table-responsive">
                                    <table class="table table-striped exam">
                                        <thead>
                                            <tr>
                                                <th>Štúdium</th>
                                                <th>Vzdelanie</th>
                                                <th>Vek</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    Prípravné štúdium
                                                </td>
                                                <td></td>
                                                <td style="vertical-align: middle">
                                                    deti predškolského veku,
                                                    žiaci 1. ročníka ZŠ
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Základné štúdium<br />
                                                    I. stupeň
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            prvá časť
                                                        </li>
                                                        <li>
                                                            druhá časť
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            od 7 - 11 rokov
                                                        </li>
                                                        <li>
                                                            od 11 - 15 rokov
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    II. stupeň
                                                </td>
                                                <td></td>
                                                <td>
                                                    od 16 – 19 rokov
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Štúdium pre dospelých
                                                </td>
                                                <td></td>
                                                <td>
                                                    bez obmedzenia veku
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Skrátené štúdium
                                                </td>
                                                <td></td>
                                                <td>
                                                    bez obmedzenia veku
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->
                            </div>
                        </div>
                    </div><!--//tabbed-info-->
                </article><!--//course-item-->
            </div><!--//course-wrapper-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <section class="widget has-divider">
                    <h3 class="title">Benefity štúdia:</h3>
                    <ul class="custom-list-style">
                        <li><i class="fa fa-check"></i> 
                            systematický rozvoj po stránke telesnej a duševnej
                        </li>
                        <li><i class="fa fa-check"></i> 
                            orientácia v rôznych oblastiach spojených s tanečným prejavom a kultúrou pohybu
                        </li>
                        <li><i class="fa fa-check"></i> 
                            tanečná produkcia, interpretácia, recepcia a reflexia
                        </li>
                        <li><i class="fa fa-check"></i> 
                            kultivácia koordinačných, silových a vytrvalostných schopností
                        </li>
                        <li><i class="fa fa-check"></i> 
                            schopnosť porozumenia obsahu umeleckého diela
                        </li>
                        <li><i class="fa fa-check"></i> 
                            rozvoj estetického cítenia, fantázie
                        </li>
                        <li><i class="fa fa-check"></i> 
                            rozvoj tanečných techník: klasického, ľudového, moderného tanca
                        </li>
                        <li><i class="fa fa-check"></i> 
                            overená vypracovaná metodika vyučovania
                        </li>
                        <li><i class="fa fa-check"></i> 
                            správne držanie tela, rozvoj koordinácie pohybov, základy melodického a rytmického cítenia, pohyb v priestore, pohybová pamäť a fantázia
                        </li>
                        <li><i class="fa fa-check"></i> 
                            upevňovanie telesnej zdatnosti a kultivovanie pohybového prejavu
                        </li>
                        <li><i class="fa fa-check"></i> 
                            pestovanie vôľových vlastností: vytrvalosť, presnosť, spoľahlivosť
                        </li>
                        <li><i class="fa fa-check"></i> 
                            široké možnosti uplatnenia záujmovej činnosti
                        </li>
                        <li><i class="fa fa-check"></i> 
                            možnosť príprav na profesionálnu dráhu formou rozšíreného vyučovania
                        </li>
                    </ul>
                </section><!--//widget-->
            </aside>
        </div>

    </div>
</div>
