@{
    ViewBag.Title = "Music";
}
<style>
    .page-wrapper .page-sidebar ul li {
        padding: 0 30px;
    }

        .page-wrapper .page-sidebar ul li i {
            margin-left: -25px;
        }

    .page-wrapper .page-sidebar ul li {
    }
</style>
<div class="page-wrapper">
    <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Hudobný odbor</h1>
        <div class="breadcrumbs pull-right">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-label">Práve ste tu:</li>
                <li><a href="~/Home">Domov</a><i class="fa fa-angle-right"></i></li>
                <li class="current">Hudobný odbor</li>
            </ul>
        </div><!--//breadcrumbs-->
    </header>
    <div class="page-content">
        <div class="row page-row">
            <div class="course-wrapper col-md-8 col-sm-7">
                <article class="course-item">
                    <p class="featured-image page-row"><img class="img-responsive" src="/Content/images/courses/banner_piano_thum.jpg" alt="" /></p>
                    <div class="page-row box box-border">
                        <ul class="list-unstyled no-margin-bottom">
                            <li><strong>Školský rok: </strong><em>2019/2020</em></li>
                        </ul>
                    </div><!--//page-row-->
                    <div class="page-row">
                        <h3 class="title">Vzdelávací obsah pozostáva:</h3>
                        <ol>
                            <li>z individuálnej interpretácie</li>
                            <li>skupinovej interpretácie</li>
                            <li>náuka o hudbe</li>
                        </ol>

                    </div><!--//page-row-->
                    <div class="tabbed-info page-row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Nástroje / učitelia </a></li>
                            <li><a href="#tab2" data-toggle="tab">Prijímacie pohovory</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nástroj</th>
                                                <th>Typ</th>
                                                <th>Učiteľ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>Klávesový</b></td>
                                                <td>
                                                    <table>
                                                        <tr><td>Klavír</td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td>Keyboard</td></tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr><td>Mgr. Jana Kemeníková DiS.art</td></tr>
                                                        <tr><td>Jarmila Balázsová DiS.art</td></tr>
                                                        <tr><td>Mgr. Jolana Kleinová</td></tr>
                                                        <tr><td>Erika Dóšová DiS.art</td></tr>
                                                        <tr><td>Mária Ďurkovičová DiS.art</td></tr>
                                                        <tr><td>Mgr. Dagmar Jantošová DiS.art</td></tr>
                                                        <tr><td>Mgr. Alica Vajdová DiS.art</td></tr>
                                                        <tr><td>Štefánia Volentová DiS.art</td></tr>
                                                        <tr><td>Linda Bartušová DiS.art</td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td>Mgr. Zuzana Garajová</td></tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>Sláčikový</b></td>
                                                <td>
                                                    <table>
                                                        <tr><td>Husle</td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td>Viola</td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td>Violončelo</td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td>Kontrabas</td></tr>

                                                    </table>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr><td>Tomáš Demecs DiS.art</td></tr>
                                                        <tr><td>Barnabáš Szabó DiS.art</td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td>Tomáš Demecs DiS.art</td></tr>
                                                        <tr><td>Barnabáš Szabó DiS.art</td></tr>
                                                        <tr><td><br></td></tr>
                                                        <tr><td>Bohumil Nový DiS.art</td></tr>
                                                        <tr><td><br></td></tr>

                                                        <tr><td>Barnabáš Szabó DiS.art</td></tr>
                                                    </table>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><b>Dychový</b></td>
                                                <td>
                                                    <table>
                                                        <tr><td>Zobcova flauta</td></tr>
                                                        <tr><td>Altová flauta</td></tr>
                                                        <tr><td>Priečna flauta</td></tr>
                                                        <tr><td>Klarinet</td></tr>
                                                        <tr><td>Saxofón</td></tr>
                                                        <tr><td>Trubka</td></tr>
                                                        <tr><td>Tuba</td></tr>
                                                        <tr><td>Pozauna</td></tr>
                                                        <tr><td>Lesný roh</td></tr>
                                                        <tr><td>Hoboj</td></tr>
                                                    </table>
                                                </td>
                                                <td style="vertical-align: middle">
                                                    Mgr. Milan Strenátka DiS.art
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><b>Akordeón</b></td>
                                                <td></td>
                                                <td>Ildikó Meidlíková DiS.art</td>
                                            </tr>
                                            <tr>
                                                <td><b>Spev</b></td>
                                                <td>
                                                    <table>
                                                        <tr><td>Operný</td></tr>
                                                        <tr><td>Ľudový</td></tr>
                                                        <tr><td>Moderný</td></tr>
                                                    </table>
                                                </td>
                                                <td style="vertical-align: middle"> Helena Blažejová DiS.art <br>
                                                    Aladár Ocsko DiS.art 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>Gitara</b></td>

                                                <td></td>
                                                <td>
                                                    <table>
                                                        <tr><td>Tibor Borský DiS.art</td></tr>
                                                        <tr><td>Ivan Macko</td></tr>
                                                        <tr><td>Bohumil Nový DiS.art</td></tr>
                                                    </table>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><b>Bicie</b></td>
                                                <td></td>
                                                <td>Róbert Šándori</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped exam">
                                        <thead>
                                            <tr>
                                                <th>Štúdium</th>
                                                <th>Vzdelanie</th>
                                                <th>Vek</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    Prípravné štúdium
                                                </td>
                                                <td></td>
                                                <td style="vertical-align: middle">
                                                    deti predškolského veku,
                                                    žiaci 1. ročníka ZŠ
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Základné štúdium<br />
                                                    I. stupeň
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            prvá časť
                                                        </li>
                                                        <li>
                                                            druhá časť
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            od 7 - 11 rokov
                                                        </li>
                                                        <li>
                                                            od 11 - 15 rokov
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    II. stupeň
                                                </td>
                                                <td></td>
                                                <td>
                                                    od 16 – 19 rokov
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Štúdium pre dospelých
                                                </td>
                                                <td></td>
                                                <td>
                                                    bez obmedzenia veku
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->
                            </div>
                        </div>
                    </div><!--//tabbed-info-->
                </article><!--//course-item-->
            </div><!--//course-wrapper-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <section class="widget has-divider">
                    <h3 class="title">Benefity štúdia:</h3>
                    <ul class="custom-list-style">
                        <li><i class="fa fa-check"></i> prepracovaná metodika vyučovania</li>
                        <li>
                            <i class="fa fa-check"></i>
                            odbornosť vyučovania
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            systematické a zreteľné napredovanie v štúdiu
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            prezentácie dosiahnutých výsledkov na verejných koncertoch,
                            verejných podujatiach a súťažiach, produkcia koncertných vystúpení, účasť na
                            hudobných festivaloch
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            rozvoj tvorivosti, predstavivosti, myslenia, hudobnej vnímavosti, komlexné hudobné
                            vzdelanie, rozvoj hudobných a intelektuálnych schopností
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            orientácia v umení a v kultúre, bohatší spôsob života
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            oboznámenie sa s európskou a svetovou hudobnou tradíciou a repertoárom
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            široké možnosti uplatnenia v záujmovej činnosti, profesionálna orientácia
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            možnosť rozšíreného vyučovania pri príprave na stredné a vysoké školy uemelckého
                            zamerania
                        </li>
                    </ul>
                </section><!--//widget-->
                @*<section class="widget has-divider">
                        <h3 class="title">Enquire about this course</h3>
                        <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                        <p class="tel"><i class="fa fa-phone"></i>Tel: 0800 123 4567</p>
                        <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">enquires@website.com</a></p>
                    </section><!--//widget-->
                    <section class="widget has-divider">
                        <h3 class="title">Related courses</h3>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-book"></i> Ut enim ad minim veniam</a></li>
                            <li><a href="#"><i class="fa fa-book"></i> Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#"><i class="fa fa-book"></i> Cras et sapien rhoncus</a></li>
                            <li><a href="#"><i class="fa fa-book"></i> Praesent ut turpis feugiat</a></li>
                            <li><a href="#"><i class="fa fa-book"></i> Aenean interdum iaculis odio</a></li>
                            <li><a href="#"><i class="fa fa-book"></i> Morbi in malesuada nibh</a></li>
                            <li><a href="#"><i class="fa fa-book"></i> Fusce a ligula in velit</a></li>
                        </ul>
                    </section><!--//widget-->
                    <section class="widget has-divider">
                        <h3 class="title">Apply Online</h3>
                        <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                        <p class="promo-badge">
                            <a class="OliveDrab" href="#">
                                <span class="percentage">20% <span class="off">OFF</span></span>
                                <br>
                                <span class="desc">Online application</span>
                            </a>
                        </p>
                    </section><!--//widget-->*@
            </aside>
        </div><!--//page-row-->
    </div><!--//page-content-->
</div><!--//page-->
